
@use 'sass:color';
@use '../utilitaires/variables' as *;

/**
* @author Prenom Nom courriel
* @todo Compléter selon l'énoncé de l'exercice
*/

.hyperlien {
  color: $hyperlien;
  text-decoration: none;
  &--visited {
    color: color.adjust($hyperlien, $lightness: -5%);
  }
  &--hover {
    color: color.adjust($hyperlien, $lightness: -20%);
    text-decoration: underline;
  }
  &--active {
    color: $jaune;
    text-decoration: underline;
  }
}