.contenu-page {
    width: 90%;
}

.contenu-page h2 {
    margin: 0 auto;
    font-family: "EB Garamond", serif;
    margin-bottom: 30px;
}

.contenu-page h3 {
    text-align: right;
}

.contenu-page p {
    font-family: "Inter", sans-serif;
    line-height: 2;
}

.articles-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
    width: 90%;
}

.article-volets {
    background-color: #4B4032;
    padding: 5px;
    justify-content: center;
    border-radius: 10px;
}

.article__entete-volets {
    padding: 5px;
}

.article__fond-volets {
    background-color: #fff;
    margin: 20px;
    text-align: center;
    width: 90%;
    box-shadow: 0px 5px 10px 0px #000;
}

.article__lien-volets {
    color: #000;
    text-decoration: none;
    font-size: 25px;
}

.article__btn-volets {
    padding: 20px;
}

.btn__a-volets :hover {
    cursor: pointer;
    background-color: #815317;
    transition: all .2s;
    color: #fff;
    letter-spacing: .1rem;
}

.article__a-volets {
    padding: 15px;
    width: 70%;
    background-color: #EFA646;
    border: none;
    font-family: "Inter", sans-serif;
    text-decoration: none;
    font-size: 18px;
    color: #4B4032;
}

.picture-nom_volet-volets img {
    background-color: #000;
    margin: 20px;
}