/* CONTENEUR GLOBAL */
.entete {
    position: relative;
}

/* 
   TOPBAR 
*/
.entete__topbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 1.5rem 2rem;

    background: transparent;
    color: #fff;
}

/* LOGO */
.entete__logo img {
    height: 50px;
}

/* MENU */
.entete__menu {
    flex: 1;
    display: flex;
    justify-content: center;
}

.entete__nav ul {
    display: flex;
    gap: 2rem;
    list-style: none;
    margin: 0;
    padding: 0;
}

.entete__nav a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
}

/* RECHERCHE */
.entete__recherche {
    min-width: 200px;
    display: flex;
    justify-content: flex-end;
}

/* 
   VIDEO
 */
.entete__video {
    position: relative;
    height: 500px;
    overflow: hidden;
}

/* VIDEO */
.entete__video video {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    object-fit: cover;

    z-index: 1;
}

/* OVERLAY FONCÉ */
.entete__video::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

/* 
  SLOGAN + BOUTON
 */
.entete__contenu {
    position: absolute;
    inset: 0;
    z-index: 3;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;
    gap: 2rem;
    padding: 0 2rem;
}

/* SLOGAN */
.entete__slogan {
    color: #fff;
    font-size: 2.2rem;
    max-width: 900px;
    line-height: 1.4;
}

/* TITRE DE PAGE (ex: Nouvelles) */
.entete__titre-page {
    color: #fff;
    font-size: 6rem;
    font-family: "EB Garamond", serif;
    font-weight: 400;
    letter-spacing: 0.05em;
    line-height: 1.1;
    text-align: center;
}

.entete__sous-titre-page {
    color: #fff;
    font-size: 2rem;
    line-height: 1.5;
    max-width: 900px;
    text-align: center;
}

/* BOUTON */
.entete__btn {
    background-color: #e5a24a;
    color: #000;
    padding: 1rem 2.5rem;
    text-decoration: none;
    border-radius: 6px;
    font-weight: bold;
    transition: 0.3s;
}

.entete__btn:hover {
    background-color: #cf8d38;
}