
@use '../utilitaires/variables' as *;

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  padding: 0;
  font-family: $fontePrimaire;
}

.contenu{
  max-width: 80%;
  margin: 0 auto;
}

.page {
  float: center;
  width: 100%;
  @media only screen and (max-width: 735px) {
    float: none;
    width: 100%;
    border-bottom: 1px solid #333;
  }
}