@charset "UTF-8";
/**
 * @author Michel Rouleau <mrouleau@csfoy.ca>
 * @todo Lier les modules avec des instructions @import
 * @todo Compléter selon l'énoncé de l'exercice
 */
/****** Librairies ******/
/** Normalize **/
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

body {
  margin: 0;
}

a {
  background: transparent;
}
a:focus {
  outline: thin dotted;
}
a:hover, a:active {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: "“" "”" "‘" "’";
}

q:before, q:after {
  content: "";
  content: none;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}
input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

/**** UTILITAIRES ****/
/**** Utilitaires ****/
/* Harmoniser le modèle de boîte avec Box-Sizing */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* Clearfix */
.clearfix:after {
  content: " ";
  display: table;
  clear: both;
}

/* a11y */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/****** BASE ******/
/** Typographie **/
/**
* @author Prenom Nom courriel
* @todo Préciser l’interlignage sur le body pour l’écran large
* @todo Utiliser le mixin fontSize pour définir les tailles de polices
* @todo Utiliser une variable pour la media query de la règle body
*/
/**** Typographie responsive ****/
html {
  font-size: 62.5%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.375; /* facteur multiplicateur de la taille de la police 1.375x16=22 */
}
h1,
.titreNiveau1,
h2,
.titreNiveau2,
h3,
.titreNiveau3 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
}

h1,
.titreNiveau1 {
  font-size: 28px;
  margin: 0;
}
h1--desktop,
.titreNiveau1--desktop {
  font-size: 48px;
  padding-bottom: 15px;
  position: relative;
}
h1--desktop:after,
.titreNiveau1--desktop:after {
  background-color: #111;
  content: "";
  display: inline-block;
  width: 150px;
  height: 8px;
  position: absolute;
  left: 0;
  bottom: 0;
}

h2,
.titreNiveau2 {
  font-size: 20px;
  text-transform: uppercase;
}
h2--desktop,
.titreNiveau2--desktop {
  font-size: 28px;
}

h3,
.titreNiveau3 {
  font-size: 18px;
}
h3--desktop,
.titreNiveau3--desktop {
  font-size: 22px;
}

.texte {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 26px;
  line-height: 1.375;
}
.texte--desktop {
  line-height: 1.5;
}

/****** LAYOUT ******/
/**** Grille ****/
/**** Mini système de grilles fluides MOBILE FIRST ****/
.conteneur {
  /*background-color: lightBlue;*/
}

.col {
  display: block;
  /* pour espacer les blocs à la vertical.
     Ajuster selon le besoin */
  margin: 0 0 0.5em 0;
  /* ce qui suit n'est pas essentiel */
  /*background-color: linen;
  border: 1px solid black;*/
}

.col_1_de_12,
.col_2_de_12,
.col_3_de_12,
.col_4_de_12,
.col_5_de_12,
.col_6_de_12,
.col_7_de_12,
.col_8_de_12,
.col_9_de_12,
.col_10_de_12,
.col_11_de_12 {
  width: 100%;
}

.invisible {
  display: none;
}

/* pour décoller les blocs du viewport, à gauche et à droite.
Ajuster selon le besoin  */
.conteneur {
  padding: 0 0.5em;
}

/**** Requêtes media ****/
/* Pour écran large */
@media (min-width: 600px) {
  .conteneur {
    margin: 0 auto;
    max-width: 1000px;
    padding: 0;
    /* Grille 12 colonnes en arrière-plan - Mettre en commentaires après usage */
    /*background-image: linear-gradient(to right, rgba(102, 102, 255, 0.25), rgba(179, 179, 255, 0.25) 83.33333%, transparent 83.33333%);
    background-size: 8.4507%;
    background-origin: content-box;
    background-clip: content-box;
    background-position: left top;*/
  }
  .col {
    margin: 0 2% 2% 0;
    float: left;
  }
  .rangee > *:last-child {
    margin-right: 0;
  }
  .col_1_de_12 {
    width: 6.5%;
  }
  .col_2_de_12 {
    width: 15%;
  }
  .col_3_de_12 {
    width: 23.5%;
  }
  .col_4_de_12 {
    width: 32%;
  }
  .col_5_de_12 {
    width: 40.5%;
  }
  .col_6_de_12 {
    width: 49%;
  }
  .col_7_de_12 {
    width: 57.5%;
  }
  .col_8_de_12 {
    width: 66%;
  }
  .col_9_de_12 {
    width: 74.5%;
  }
  .col_10_de_12 {
    width: 83%;
  }
  .col_11_de_12 {
    width: 91.5%;
  }
  .col_12_de_12 {
    width: 100%;
  }
  footer.col {
    margin: 0;
  }
  .invisible {
    display: block;
    visibility: hidden;
  }
}
/****** MODULES ******/
/** Menu responsive **/
/**
 * @author Prénom Nom courriel
 * @todo ADAPTER ce fichier selon le projet
**/
/**
 * TABLE DES MATIÈRES
 * Palette de couleurs
 * Base commune
 * - Bouton du menu
 * - Liste du menu
 * - Liens du menu
 * Si le javascript est activé
 */
/****** Base commune *******/
/* Bouton du menu (injecté par JavaScript)*/
.navigation {
  max-width: 960px;
  margin: 0 auto;
}
.navigation__controle {
  background-color: #d9d7d0;
  border: none;
  padding: 10px;
  min-width: 40px;
}
.navigation__controle:hover {
  background-color: #f5ae09;
}
.navigation__controle:active {
  background-color: #f1acb1;
}
.navigation__controle:focus {
  /**
   * Les styles du navigateur utilisent la règle outline pour définir
   * l'état focus des éléments interactifs.
   * Vous pouvez redéfinir cette règle ou remplacer par d'autres styles
   * mieux adaptés à la direction visuelle.
   * MAIS il faut souligner l'état focus et le tester au clavier.
   */
  outline-offset: -5px;
  outline: #f5ae09 auto 5px;
}
@media (min-width: 601px) {
  .navigation__controle {
    display: none;
  }
}

/* Liens du menu */
.menu-item a {
  background-color: #d9d7d0;
  display: block;
  padding: 5px 10px;
  width: 100%;
}
.menu-item a:link, .menu-item a:visited {
  text-decoration: none;
  color: inherit;
}
.menu-item a:active, .menu-item a:hover {
  background-color: #f5ae09;
}
.menu-item a--actif {
  border-left: 5px solid #f4d07c;
}
.menu-item a {
  /*     outline: none;
       border-left: 5px solid #f5ae09;*/
}

/* Liste du menu */
.menu {
  margin: 0;
  padding: 0;
  list-style: none;
  max-height: none;
}

@media (min-width: 601px) {
  .menu-item {
    display: inline-block;
  }
}

/* Si le javascript est activé */
/* Pour des raisons d'accessibilité, on ne cache le menu mobile
 * que si JavaScript est activé. De cette façon, s'il est désactivé,
 * le menu restera tout de même visible à l'utilisateur.
 */
.js .menu {
  max-height: 100vh;
  overflow: hidden;
  transition: max-height 0.5s;
}

.js .navigation--ferme .menu {
  max-height: 0;
}
@media (min-width: 601px) {
  .js .navigation--ferme .menu {
    max-height: none;
  }
}

.page-voletsculturels {
  width: 900px;
  background-color: beige;
}

/****** MODULES ******/
/** entête de page **/
/* Entete de page */
.entete {
  max-width: 100%;
  margin: 0 auto;
  background-color: #323;
  border-bottom: 1px solid #323;
}
.entete__titre {
  margin: 0;
  padding: 10px;
}
.entete__slogan {
  margin: 0;
  padding: 10px;
}

/** navigation **/
.navigation {
  max-width: 960px;
  margin: 0 auto;
  border-bottom: 1px solid #333;
}
.navigation ul {
  list-style: none;
  margin: 10px 0 10px 10px;
  padding: 0;
}
.navigation li {
  display: inline-block;
  margin-right: 2px;
}

.navigation__secondaire {
  max-width: 960px;
  margin: 0 auto;
}
.navigation__secondaire ul {
  list-style: none;
  margin: 10px 0 10px 10px;
  padding: 0;
}
.navigation__secondaire li {
  display: inline-block;
  margin-right: 2px;
}

/** pied de page **/
/*pied de page*/
.piedDePage {
  max-width: 960px;
  margin: 0 auto;
  background-color: #eee;
  border-top: 1px solid #333;
  clear: both;
}
.piedDePage h2 {
  margin: 0;
  padding: 10px;
  font-size: 1em;
}

/** article WP **/
.article {
  border-bottom: 1px dotted #333;
  padding-right: 8px;
  margin-bottom: 10px;
}
.article__entete {
  background-color: #eee;
}

/*# sourceMappingURL=styles.css.map */
